.ds-chuyenmuc button {
  margin-left: 5px;
}

.ds-chuyenmuc button span {
  font-weight: bold;
  font-size: 16px;
}

.img-logo {
  height: 30px;
  left: 10px;
  top: 55px;
  position: absolute;
}

.sub_header {
  margin-left: 20px;
  color: #000;
  font-weight: bold;
}


.bg-gray-200{
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}





